[Unit]
Description=FSO1 daemon
After=dbus.socket

[Service]
Type=dbus
BusName=org.freesmartphone.frameworkd
ExecStart=/usr/bin/frameworkd

[Install]
WantedBy=basic.target
